<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /moderation/v2/

    # Redirect requests with apiKey to the URL without the query parameter
    RewriteCond %{QUERY_STRING} ^apiKey=
    RewriteRule ^filtertext/$ filtertext.php [NC,QSA,L]

    # Redirect requests for filtertext to filtertext.php
    RewriteRule ^filtertext$ filtertext.php [L]
</IfModule>
