RewriteEngine on
RewriteBase /avatar-fetch/

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
 
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

ErrorDocument 404 /RobloxDefaultErrorPage.aspx?code=404
ErrorDocument 500 /RobloxDefaultErrorPage.aspx?code=500

AddHandler application/x-httpd-php .ashx
AddType application/x-httpd-php .ashx
AddHandler application/x-httpd-php .aspx
AddType application/x-httpd-php .aspx
Options -Indexes

